<div class='container'>
  <div class='row'>
    <h1 class='col s4 offset-s4'>FleetKeep</h1>
  </div>
  <div class='row'>
    <p class='flow-text col s6 offset-s3'>
      FleetKeep is the vehicle fleet management application designed to simplify your driver reporting. Our simple vehicle state reporting and administrative dashboard views allow for both drivers and supervisors to access and input the necessary data to get your fleet on the street.
    </p>
  </div>
  <div class='row'>
    <button class="waves-effect waves-light btn-large col s2 offset-s5">Learn More</button>
  </div>
</div>
