body {
  background-color: RGBA(246, 246, 246, 1);
}

#damage-report {
  border: 1px solid black;
  border-radius: 2px;
  padding: 1%;
}

#sign-here {
  height: 100px;
  border-bottom: 1px solid black;
}
