body {
  background-color: RGBA(246, 246, 246, 1);
}

nav {
  background-color: indigo;
}

.brand-logo {
  font-family: 'Exo 2', sans-serif;
}

.confirm-body {
  background-color: white;
  width: 75%;
  margin-left: 12.5%;
  padding-bottom: 1%;
  margin-top: 1%;
}

.confirm-btns {
  padding-top: 1%;
}

.confirm-group {
  font-size: 125%;
}

#damage-report {
  border: 1px solid black;
  border-radius: 2px;
  padding: 1%;
}

#sign-here {
  height: 100px;
  border-bottom: 1px solid black;
}

/*@media print {
  body * {
    visibility: hidden;
  }
  .confirm-body * {
    visibility: visible;
  }
  .confirm-body {
    position: absolute;
    left: 0;
    top: 0;
  }
}*/
