body {
  background-color: RGBA(246, 246, 246, 1);
}

nav {
  background-color: RGBA(150, 200, 205, 1);
  box-shadow: none;
}

h3, h4, h5{
  font-family: 'Quicksand', sans-serif;
}

.logo {
  margin-top: 1%;
  margin-left: 2%;
  height: 55px;
}

.lg-btn {
  color: RGBA(100, 34, 20, .8);
}

.brand-logo {
  font-family: 'Quicksand', sans-serif;
}

.home-body {
  background-color: RGBA(4, 15, 29, 1);
  background-image:url('../images/truck.png');
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin-right: 1%;
}

.home-nav {
  background-color: RGBA(255, 255, 255, 0);
}

.home-title {
  margin-left: 1%;
  color: RGBA(255, 255, 255, .8);
  padding-left: 2%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.info {
  margin-top: 15%;
}

.btn-start {
  margin-top: 15%;
}

.start-btn {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.2em;
  color: RGBA(255, 255, 255, .8);
  background-color: RGBA(255, 255, 255, 0);
  margin-top: 1%;
  padding: 1%;
  border: none;
}

.flow-text {
  color: RGBA(255, 255, 255, .8);
  padding-left: 1%;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: lighter;
}

.login-nav {
  background-color: RGBA(255, 255, 255, 0)
}

.login-pg {
  background-color: RGBA(10, 18, 30, 1);
  height: 800px;
  padding-bottom: 2%;
  background-image:url('../images/truck.png');
}

.login-form {
  width: 35%;
  padding-bottom: 1%;
  border-radius: 1px;
}

.login-row, .login-header {
  margin-bottom: 0;
}

.login-header, .reg-header {
  color: RGB(78, 161, 152);
  text-align: center;
  background-color: RGB(57, 57, 57);
  padding: 1%;
  width: 96%;
  margin: 0;
  margin-left: 2%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.form-body {
  background-color: RGBA(1, 10, 25, .9);
  padding: 2%;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.login-group {
  padding: 2%;
  margin-bottom: 0;
}

.reg-link {
  margin-left: 1%;
}

.login-input {
  color: white;
}

.damRep-table {
  margin-top: 5%;
}

#new-report {
  margin-top:2%;
}

.charts {
  margin-top: 2%;
}

.oos {
  margin-top: 4%;
}

.table-head {
  color: RGB(206, 78, 54);
}

.oos-table {
  background-color: RGBA(255, 255, 255, 1);
}

.sup-table1 {
  background-color: RGBA(255, 255, 255, 1);
  margin-bottom: 3%;
}

.review-form {
  padding-top: 2%;
  border-top: 1px solid black;
}

.oos-title {
  color: RGBA(100, 34, 20, .8);
}

#oos-driver {
  margin-top: 2%;
}

.pretrip {
  width: 90%;
  height: 90%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    max-height: 100%;
}

.modal-body {
  padding: 2px 16px;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

#confirm-body {
  background-color: white;
  height: 842px;
  width: 595px;
  margin-left: 12.5%;
  padding-bottom: 1%;
  margin-top: 1%;
  box-shadow: 5px 5px 5px RGBA(53, 53, 53, .5);
}

.check-info {
  margin-top: 0;
  font-size: .8em;
}

.please, .header-row, .indicates-row, .confirm-data {
  margin-bottom: 0;
}

#please, .confirm-table {
  margin-top: 0;
}

.confirm-btns {
  padding-top: 1%;
}

#confirm-body label {
  font-size: 70%;
}

.confirm-table td{
  border: 1px solid black;
  font-size: .75em;
}

.chkbx-tbl {
  width: 5px;
  height: 5px;
  padding: 1%;
}

.name-tbl {
  width: 120px;
  height: 5px;
  padding: 1%;
}

.group, .confirm-data {
  background-color: RGBA(53, 53, 53, .2);
}

#con-table td {
  border: 1px solid black;
}

.confirm-data {
  font-size: .5em;
  width: 5px;
  height: 5px;
  padding: 1%;
}

.confirm-input {
  font-size: .7em;
  width: 5px;
  height: 5px;
  padding: 1%;
}

.last {
  width: 30px;
  height: 5px;
}

#ask-sig {
  margin-top: 16%;
}

#sign-here {
  height: 100px;
  border-bottom: 1px solid black;
}

.driver-info {
  font-size: 1.3em;
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
