<nav>
  <div class='nav-wrapper'>
    <a href='#/driver' class='brand-logo'>FleetKeep</a>
    <ul class='right'>
      <li>
        <a href='#'>Settings</a>
      </li>
      <li ng-click='ctrl.logout()'>
        <a href='#'>Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class='row'>
  <div class='col s10 offset-s1' id='confirm-body'>
    <div class='row'>
      <div class='col s10 offset-s1'>
        <div class='row header-row'>
          <h5 class='col s10 offset-s1' id='confirm-header'>Driver Daily Pre-Trip Report</h5>
        </div>
        <div class='row please'>
          <p class='col s9 offset-s3' id='please '>PLEASE REVIEW AND SIGN</p>
        </div>
        <div class='row'>
          <table class='col s12' id='con-table'>
            <tr>
              <td class='confirm-data'  id='confirm-date'>
                Date of Report:
              </td>
              <td class='confirm-input'>
                {{ctrl.reported.created_at | date : format: short}}
              </td>
              <td class='confirm-data'  id='confirm-driver'>
                Driver Name:
              </td>
              <td class='confirm-input'>
                {{ctrl.user.firstName}} {{ctrl.user.lastName}}
              </td>
              <td class='confirm-data'  id='confirm-truck'>
                Truck No.
              </td>
              <td class='confirm-input'>
                {{ctrl.reported.truck_id}}
              </td>
            </tr>
            <tr>
              <td class='confirm-data'  id='confirm-comp'>
                Company:
              </td>
              <td class='confirm-input'>
                {{ctrl.company.company}}
              </td>
              <td class='confirm-data'  id='confirm-odo'>
                Odometer Reading:
              </td>
              <td class='confirm-input last'>
                {{ctrl.reported.odo_num}}
              </td>
              <td class='confirm-data'  id='confirm-dvir'>
                Completed DVIR?
              </td>
              <td class='confirm-input last'>
                {{ctrl.reported.dvir_bool}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='row indicates-row'>
      <p class='check-info col s8 offset-s2'>
        Checked box indicates inspection completed and no issue found
      </p>
    </div>
    <div class='row checked-table'>
      <table class='confirm-table col s10 offset-s1'>
        <tr class='row'>
          <td class='chkbx-tbl'></td>
          <td class='group name-tbl'>
            ENGINE
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Mirrors
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Differential
          </td>
        </tr>
        <tr class='row'>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl' id='engine'>
            Fluid Levels
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Tires & Wheels
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Emergency
          </td>
        </tr>
        <tr class='row'>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Belts & Hose
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Tires & Wheels
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Emergency Equip
          </td>
        </tr>
        <tr class='row'>
          <td class='chkbx-tbl'></td>
          <td class='name-tbl group'>
            EXTERIOR
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Locks
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Windows & Wipers
          </td>
        </tr>
        <tr class='row'>
          <td class='chkbx-tbl'><i class="material-icons">done</i</td>
          <td class='name-tbl'>
            Lights
          </td>
          <td class='chkbx-tbl'></td>
          <td class='name-tbl group'>
            Cab
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Gauges & Indicators
          </td>
        </tr>
        <tr class='row'>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Reflectors
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Horn(s)
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Seat Belts
          </td>
        </tr>
        <tr class='row'>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Fuel Tanks
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Heater/Defroster
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Battery
          </td>
        </tr>
        <tr class='row'>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Air/Elect. Lines
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Transmission
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Exhaust
          </td>
        </tr>
        <tr class='row'>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Brakes & Drum
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Panel Lights
          </td>
          <td class='chkbx-tbl'></td>
          <td class='name-tbl group'>
            Other
          </td>
        </tr>
        <tr class='row'>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Splash Guard
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Clutch
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Fifth Wheel
          </td>
        </tr>
        <tr class='row'>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Springs & Shocks
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Brake System
          </td>
          <td class='chkbx-tbl'><i class="material-icons">done</i></td>
          <td class='name-tbl'>
            Landing Gear
          </td>
        </tr>
      </table>
    </div>
    <div class='row'>
      <div class='col s10 offset-s1'>
        <p id='ask-sig' class='col s3'>Sign Here:</p>
        <canvas class='col s8' id='sign-here'></canvas>
      </div>
    </div>
  </div>
</div>
<div class='row confirm-btns'>
  <button ng-click='ctrl.print()' class="waves-effect waves-light btn-large col s2 offset-s2">Print Form</button>
  <button ng-click='ctrl.confirm()' class="waves-effect waves-light btn-large col s2 offset-s1">Confirm Report</button>
  <button ng-click='ctrl.clearSign()' class="waves-effect waves-light btn-large col s2 offset-s1">Clear Signature</button>
</div>
