<nav>
  <div class='nav-wrapper'>
    <ul class='right'>
      <li class='nav-link'>
        <a href='#'>Out of Service Trucks</a>
      </li>
      <li class='nav-link'>
        <a href='#'>Reported Damages</a>
      </li>
      <li class='nav-link' ng-click='ctrl.logout()'>
        <a class='lg-btn' href='#'>Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class='row'>
  <a href='/#/report'><button class="waves-effect waves-light btn-large col s2 offset-s5" id='new-report'>New Report</button></a>
</div>
<div class='row charts'>
  <highchart id="status-pie" class='col s5 offset-s1' config="ctrl.pieConfig"></highchart>
  <highchart id="damage-bar" class='col s5' config="ctrl.barConfig"></highchart>
</div>
<div class='row' name='oos'>
  <h5 class='col s6 offset-s1'>Vehicles Out of Service</h5>
  <div class='form-group'>
    <p class='col s1 offset-s1'>View By:</p>
  </div>
  <select class="browser-default col s2" ng-model='ctrl.selectionOut'>
    <option value="" disabled selected>Choose your option</option>
    <option value='driver_id'>Driver ID</option>
    <option value='truck_id'>Truck ID</option>
    <option value='status'>Status</option>
    <option value='created_at'>Date of Report</option>
  </select>
</div>
<div class='row'>
  <table class='col s10 offset-s1 highlight bordered oos-table'>
    <thead>
      <th>
        Vehicle ID
      </th>
      <th>
        Driver
      </th>
      <th>
        Damage
      </th>
      <th>
        Date
      </th>
      <th>
        Status
      </th>
    </thead>
    <tbody>
      <tr ng-repeat='out in ctrl.out | orderBy: ctrl.selectionOut || status:true'>
        <td>
          {{out.truck_id}}
        </td>
        <td>
          {{out.driver_id}}
        </td>
        <td>
          {{out.desc}}
        </td>
        <td>
          {{out.created_at | date : format : short }}
        </td>
        <td>
          {{out.status}}
        </td>
        <td>
          <a href='#/review/{{report.id}}' class='btn-floating waves-effect waves-light red'><i class='material-icons'>assignment</i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <div class='row'>
  <highchart id="status-line" class='col s6' config="ctrl.lineConfig"></highchart>
</div> -->
<div class='row damRep-table' id='dam-table'>
  <h5 class='col s4 offset-s1'>Vehicles with Current Damage Reports</h5>
  <div class='form-group'>
    <label class='col s1' for='select'>View By:</label>
  </div>
  <select id='select' class="browser-default col s2" ng-model='ctrl.selection'>
    <option value="" disabled selected>Choose your option</option>
    <option value='driver_id'>Driver ID</option>
    <option value='truck_id'>Truck ID</option>
    <option value='status'>Status</option>
    <option value='created_at'>Date of Report</option>
  </select>
  <div class='form-group'>
    <label class='col s1' for='limit'>Limit to:</label>
  </div>
  <div class='form-group'>
    <select id='limit' class="browser-default col s2" ng-model='ctrl.limit'>
      <option value="" disabled selected>Choose your option</option>
      <option value='5'>5</option>
      <option value='10'>10</option>
      <option value='15'>15</option>
      <option value='20'>20</option>
      <option value=''>All</option>
    </select>
  </div>
</div>
<div class='row'>
  <table class='col s10 offset-s1 highlight bordered sup-table1'>
    <thead>
      <th>
        Vehicle ID
      </th>
      <th>
        Driver
      </th>
      <th>
        Damage
      </th>
      <th>
        Date
      </th>
      <th>
        Status
      </th>
    </thead>
    <tbody>
      <tr ng-repeat='report in ctrl.reports | orderBy: ctrl.selection:false || status:true | limitTo: ctrl.limit || 10'>
        <td>
          {{report.truck_id}}
        </td>
        <td>
          {{report.driver_id}}
        </td>
        <td>
          {{report.desc}}
        </td>
        <td>
          {{report.created_at | date : format : short }}
        </td>
        <td>
          {{report.status}}
        </td>
        <td>
          <a href='#/review/{{report.id}}' class='btn-floating waves-effect waves-light blue'><i class='material-icons'>assignment</i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
