<nav>
  <div class='nav-wrapper'>
    <a href='/dash' class='brand-logo'>FleetKeep</a>
    <ul class='right hide-on-med-and-down'>
      <li>
        <a href='#'>Settings</a>
      </li>
      <li ng-click='ctrl.logout()'>
        <a href='#'>Logout</a>
      </li>
    </ul>
  </div>
</nav>
<h1>User Dashboard</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<div class='row'>
  <a href='/report'><button class="waves-effect waves-light btn-large col s2 offset-s5">New Report</button></a>
</div>
<div class='row'>
  <div class='row form-group'>
    <label class='col s4 offset-s3'>View By:</label>
  </div>
  <select class="browser-default col s4 offset-s3" ng-model='ctrl.selection'>
    <option value="" disabled selected>Choose your option</option>
    <option value='driver_id'>Driver ID</option>
    <option value='truck_id'>Truck ID</option>
    <option value='status'>Status</option>
  </select>
</div>
<div class='row'>
  <table class='col s10 offset-s1'>
    <thead>
      <th>
        Vehicle ID
      </th>
      <th>
        Driver
      </th>
      <th>
        Damage
      </th>
      <th>
        Date
      </th>
      <th>
        Status
      </th>
    </thead>
    <tbody>
      <tr ng-repeat='report in ctrl.reports | orderBy: status:true || ctrl.selection'>
        <td>
          {{report.truck_id}}
        </td>
        <td>
          {{report.driver_id}}
        </td>
        <td>
          {{report.desc}}
        </td>
        <td>
          {{report.created_at | date : format : short }}
        </td>
        <td>
          {{report.status}}
        </td>
        <td>
          <a href='dash/{{report.id}}' class='btn-floating waves-effect waves-light blue'><i class='material-icons'>assignment</i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Video of how to run inspection (do I want to use it on driver dash?) -->
<!-- <iframe id="ytplayer" type="text/html" width="320" height="195"
  src="https://www.youtube.com/embed/gw7vinvH1XY"
  frameborder="0"></iframe> -->
