<div class='home-body'>
  <nav class='home-nav'>
    <div class='nav-wrapper'>
      <ul class='right'>
        <li>
          <a href='#'>About</a>
        </li>
        <li>
          <a href='#/login'>Login</a>
        </li>
        <li>
          <a href='#/signup'>Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class='container'>
    <div class='row'>
      <h1 class='home-title col s6'>FleetKeep</h1>
    </div>
    <div class='row'>
      <p class='flow-text col s6 home-info'>
        FleetKeep is the vehicle fleet management application designed to simplify your vehicle reporting. Our simple reporting and administrative dashboard views allow for both drivers and supervisors to access and input the necessary data to get your fleet on the street.
      </p>
    </div>
  </div>
</div>
