<nav>
  <div class='nav-wrapper'>
    <a href='/dash' class='brand-logo'>FleetKeep</a>
    <ul class='right hide-on-med-and-down'>
      <li>
        <a href='#'>Settings</a>
      </li>
      <li ng-click='ctrl.logout()'>
        <a href='#'>Logout</a>
      </li>
    </ul>
  </div>
</nav>
<h3>New Report</h3>
<form class='container'>
  <div class='row form-group'>
    <label class='col s4 offset-s3'>Truck Number</label>
  </div>
  <div class='row form-group'>
    <select class="browser-default col s4 offset-s3" ng-model='report.truck_id' required=true>
      <option value="" disabled selected>Choose your option</option>
      <option ng-repeat='vehicle in ctrl.allVehicles' value={{vehicle.id}}>{{vehicle.call}}</option>
    </select>
  </div>
  <div class='row'>
    <label class='col s4 offset-s3'>Odometer</label>
  </div>
  <div class='row'>
    <input class='col s4 offset-s3' type='number' ng-model='report.odo_num' required=true/>
  </div>
  <div class='row'>
    <button ng-click='ctrl.begin(report.truck_id)' class="waves-effect waves-light btn-large col s2 offset-s4">Begin</button>
  </div>
</form>
<div class='row'>
  <canvas id='canvas'></canvas>
  <img class='vehicleImg col s8 offset-s1' ng-src='{{ctrl.vehicleImg}}' alt='truck body damage map' id='carOrTruck' />
</div>
<div class='container' id='damage-report'>
  <form>
    <div class='row'>
      <label class='col s4 offset-s2'>Damage Description</label>
    </div>
    <div class='row'>
      <input class='col s8 offset-s2' type='text' ng-model='damage.desc' placeholder='e.g. Scratch found on driver door. About 4" in length and down to metal.' required=true/>
    </div>
    <div class='row'>
      <button ng-click='' class="waves-effect waves-light btn-large col s2 offset-s3">Submit</button>
      <button ng-click='' class="waves-effect waves-light btn-large col s2 offset-s1">Cancel</button>
    </div>
  </form>
</div>
