<nav>
  <div class='nav-wrapper'>
    <a href='/dash' class='brand-logo'>FleetKeep</a>
    <ul class='right hide-on-med-and-down'>
      <li>
        <a href='#'>Settings</a>
      </li>
      <li ng-click='ctrl.logout()'>
        <a href='#'>Logout</a>
      </li>
    </ul>
  </div>
</nav>
<h2>Review Page</h2>
<div class='row'>
  <button ng-click='ctrl.updateStatus()' class="waves-effect waves-light btn-large col s2 offset-s3">Reviewed</button>
  <button ng-click='ctrl.markFixed()' class="waves-effect waves-light btn-large col s2 offset-s3">Fixed</button>
</div>
